::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    opacity: 0;
    transition: opacity 0.3s; 
}

::-webkit-scrollbar-track {
    background: #444; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #acacac; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}


.show-scrollbar::-webkit-scrollbar {
    opacity: 1;
}

.scrollable-content {
    overflow: hidden;
}

.scrollable-content.show-scrollbar {
    overflow: auto;
}